{
  "root": true,
  "extends": ["eslint:recommended", "plugin:import/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "semi": [2, "always"],
    "no-async-promise-executor": 0,
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "prettier/prettier": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
